name: PR Rules

on:
  workflow_call:
    inputs:
      brnach-name:
        required: true
        type: string
    secrets:
      cicd-token:
        required: true

permissions: write-all

jobs:
  branchNameCheck:
    name: Branch Name Rule
    runs-on: ubuntu-latest
    steps:
      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ inputs.brnach-name }}
          regex: '(((feature|bugfix|hotfix)){1}\/\w+-\d+(-(\w|\d){3,})+)|(((feature|bugfix|hotfix)){1}\/\w+-\d+\/\w+-\d+(-(\w|\d){2,})+)'
          flags: gm
          github_token: ${{ secrets.cicd-token }}
      - name: check
        shell: bash
        if: ${{ steps.regex-match.outputs.match == '' }}
        run: |
          exit 1

  prTitleChecks:
    name: PR Title Rule
    needs: branchNameCheck
    runs-on: ubuntu-latest
    steps:
      - uses: deepakputhraya/action-pr-title@v1.0.2
        with:
          regex: '(\w+-([0-9]+|\[[0-9]+(\,[0-9]+)*\]): .*|(((dev|qa|main)->(dev|qa|main)\([0-9][0-9][0-9][0-9].(01|02|03|04|05|06|07|08|09|10|11|12)(A|B|C)#[0-9]+\)( )*)$))'
          github_token: ${{ secrets.cicd-token }}
